.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.border {
    border: 1px solid red;
}

.historyDiv {
    width: 20%;
    -webkit-box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,0.82); 
    box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,0.82);
    height: 100vh;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    background-color: #616161;
}

.historyBtn {
    width: 100%;
    margin: auto;
    padding: 9px 5px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background-color: #0D47A1;
    position: sticky;
    top: 0px;
}

.historyBtn:hover {
    background-color: #1976D2;
    cursor: pointer;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.topBar {
    position: sticky;
    top: 0px;
    z-index: 5;
}

.reqInput {
    width: 80%;
    padding: 10px 5px;
    font-size: 18px;
    border-radius: 0px;
    outline: none;
    border: none;
    background-color: #616161;
    color: #dfdfdf;
}

.methodBtn {
    width: 11%;
    padding: 5px;
    font-size: 18px;
}

.sendBtn {
    width: 8%;
    padding: 10px 5px;
    font-size: 18px;
    background-color: #0D47A1;
    color: white;
    outline: none;
    border: none;
}

.sendBtn:hover {
    background-color: #1976D2;
    cursor: pointer;
}

.bodyTypeDiv {
    display: flex;
    padding: 5px;
    background-color: #424242;
    align-items: center;
    color: white;
}

.bodyOptionDiv {
    display: flex;
    align-items: center;
}

.bodyOptionDiv input {
    margin: 5px;
}

.bodyOptionDiv label {
    margin-right: 20px;
}

.reactJarOption {
    display: flex;
    align-items: center;
    background-color: #424242;
}

.rjOption {
    padding: 5px;
    margin-right: 20px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 18px;
}

.statusCode {
    background-color: white;
    padding: 6px 10px;
    cursor: pointer;
}

.reqHistoryCard {
    display: flex;
    background-color: black;
    margin: 10px;
    cursor: pointer;
    word-wrap: break-all;
}

.reqHistoryCardMethod {
    border: 1px solid black;
    padding: 3px;
    width: 60px;
    height: fit-content;
    background-color: cornsilk;
    text-align: center;
}

.reqHistoryCardURL {
    margin-top: 2px;
    margin-left: 5px;
    color: #F28300;
    white-space: pre-wrap;
}

.gitHub {
    position: absolute;
    width: 40px;
    background-color: white;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    cursor: pointer;
}